<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
    <title>About Me</title>
</head>
<body>
    <div class="about-container">
        <h1>About Me</h1>
        <p>As a dedicated Computer Science student with a concentration in Machine Learning, I am passionate about leveraging data and algorithms to solve complex problems and drive innovation. My academic journey at Purdue University has equipped me with a robust foundation in both theoretical and practical aspects of technology and its applications.</p>
        <p>My professional experience includes a stint as a Software Product Management Intern, where I honed my skills in market research, competitive analysis, and software development, leading to significant performance improvements. I've also been pivotal in pioneering in-house operations that bolstered quality and efficiency.</p>
        <p>In my current role at Purdue University Data Mine, I manage and analyze large datasets to ensure data accuracy and integrity, and I am involved in designing and implementing data extraction and transformation pipelines for research projects.</p>
        <p>I have also engaged in a range of projects, including developing a Fibonacci-Based Trading Algorithm that intelligently analyzes market trends and an Augmented Reality Sudoku that utilizes supervised training to improve AI accuracy.</p>
        <p>I am always seeking new challenges that allow me to apply my skills in data analysis, machine learning, and software development, and I am eager to contribute to projects that have a meaningful impact.</p>
    </div>
</body>
</html>
