<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
    <title>Home Page</title>
</head>
<body>
    <header>
        <h1>Welcome to My Homepage for CS 348</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('views.home') }}">Home</a></li>
                <li><a href="{{ url_for('views.about') }}">About</a></li>
                <!-- <li><a href="{{ url_for('views.portfolio') }}">Portfolio</a></li>
                <li><a href="{{ url_for('views.skills') }}">Skills</a></li> -->
                <li><a href="{{ url_for('views.contact') }}">Contact</a></li>
                <li><a href="{{ url_for('views.messages') }}">Messages</a></li>

            </ul>
        </nav>
    </header>
    <main>
        <section>
            <p>Hello, my name is Lucas Ugaz.  I am a CS major at Purdue University and 
                this is my part of of the project. This is my second time using Flask, but its my first time doing
                 HTML and css.  In this website you will see my protfolio, about me, and also you will be able to send me a
                  "message that will be saved using sqlight".  Thank you for taking the time and looking at my application.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Lucas Ugaz</p>
    </footer>
</body>
</html>
